/*
	Name:			HTML5 Template
	Description:		Sample layout for HTML5 and CSS3 goodness.
	Author:			Nazion Linux
	Version:		1.0
	Site:			http://nazionlinux.com
	Date:			20 April 2013
	Copyleft:	
*/
 
/* Imports */
/*@import url("normalize.min.css");
@import url("typography.css");*/

/***** Global *****/

/*****************
	Body
*****************/


/*****************
	Header
*****************/
#header{
	color:#fff;
	background-color:#009;
	padding:.5em;
}

/*****************
	Footer
*****************/
#copyleft{
	color:#fff;
	background-color:#900;
	padding:.5em;
}

/*****************
	Aside
*****************/

